python==3.6.3
torch==1.2.0
torchvision==0.4.1
opencv-python==4.2.0
scikit-image==0.17.2
scipy==1.3.1
cuda==10.0

pip list(因为做过其他实验，对于检测模型来说，部分环境包不需要)
absl-py (0.9.0)
astor (0.8.0)
asyncio (3.4.3)
backcall (0.1.0)
certifi (2019.9.11)
chardet (3.0.4)
Click (7.0)
cx-Oracle (7.2.2)
cycler (0.10.0)
Cython (0.26)
DBUtils (1.3)
decorator (4.4.0)
future (0.18.2)
gast (0.2.2)
gevent (20.5.2)
google-pasta (0.2.0)
greenlet (0.4.15)
grpcio (1.23.0)
h5py (2.9.0)
idna (2.8)
imageio (2.8.0)
importlib-metadata (1.6.0)
ipykernel (5.1.2)
ipython (7.8.0)
ipython-genutils (0.2.0)
jedi (0.15.1)
joblib (0.11)
jupyter-client (5.3.4)
jupyter-core (4.6.0)
Keras (2.1.6)
Keras-Applications (1.0.8)
Keras-Preprocessing (1.1.0)
kiwisolver (1.1.0)
Markdown (3.1.1)
matplotlib (3.1.3)
mkl-fft (1.0.15)
mkl-random (1.1.1)
mkl-service (2.3.0)
msgpack (1.0.0)
msgpack-numpy (0.4.6.post0)
networkx (2.4)
numpy (1.18.4)
olefile (0.44)
opencv-python (4.2.0.34)
parso (0.5.1)
pexpect (4.7.0)
pickleshare (0.7.5)
Pillow (6.1.0)
pip (9.0.1)
Polygon3 (3.0.8)
prompt-toolkit (2.0.10)
protobuf (3.11.4)
psutil (5.7.0)
ptyprocess (0.6.0)
pyclipper (1.1.0.post3)
pycocotools (2.0.0)
Pygments (2.4.2)
pyparsing (2.4.2)
python-dateutil (2.8.0)
PyWavelets (1.1.1)
PyYAML (5.1.2)
pyzbar (0.1.8)
pyzmq (18.1.0)
redis (2.10.6)
redis-py-cluster (1.3.5)
requests (2.22.0)
scikit-image (0.17.2)
scikit-learn (0.22.1)
scipy (1.3.1)
setuptools (47.1.1)
six (1.12.0)
tabulate (0.8.7)
tensorboard (1.14.0)
tensorflow (1.14.0)
tensorflow-estimator (1.14.0)
tensorflow-gpu (1.14.0)
tensorflow-serving-api-gpu (1.14.0)
tensorpack (0.9.8)
termcolor (1.1.0)
tifffile (2020.6.3)
torch (1.3.0)
torchvision (0.4.1)
tornado (6.0.3)
tqdm (4.34.0)
traitlets (4.3.3)
urllib3 (1.25.3)
wcwidth (0.1.7)
Werkzeug (0.15.5)
wheel (0.29.0)
wrapt (1.11.2)
zipp (3.1.0)
zope.event (4.4)
zope.interface (5.1.0)
